html,
body,
main {
	height: 100%;
	margin: 0;
	background-color: #000000;
	background-repeat: no-repeat;
    background-size: 57%;
    background-position: right;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.nav-bar-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: right;
	padding: 30px 80px 0px 80px; 
}


.nav-menu-item {
  color: #F7DE59;
  font-family: Roboto;
  font-size: 23px;
  display: inline-block;
  font-weight: lighter;
  padding-left: 150px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
  text-align: left;
}

.dropdown a {
  display: block;
  font-family: Roboto;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  padding: 5px 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.nav-menu-wrapper:hover .dropdown {
  display: block;
}


.nav-logo-wrapper{
	color: #F7DE59;
	font-family: Roboto;
	font-size: 40px;
	font-weight: bold;
	padding-left: 5%;
	padding-top: 0.1%;
	cursor: pointer;
}

.first {
	border: 2px solid #000000;
	border-radius: 25px;
	border-color: #F7DE59;
	color: #FFFFFF;
	margin-bottom: 4%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 18px;
	line-height: 24px;
	padding: 0 16px;
	font-family: Roboto;
}

.page-title {
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 50px;
	font-weight: bold;
	line-height: 1em;
	padding-left: 5%;
	padding-bottom: 1%;
}

h2 {
	cursor: pointer;
}
